

RewriteEngine On


# Start omskrivning for alle anmodninger, der ikke er en fil eller mappe
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Specifik regel for movie_details
RewriteRule ^movie_details/([a-zA-Z0-9_-]+)$ index.php?page=movie_details&slug=$1 [L,QSA]

# Specifik regel for movie
RewriteRule ^movie/([a-zA-Z0-9-_]+)$ index.php?page=movieDetails&slug=$1 [L,QSA]

# Generel regel for alle andre sider
RewriteRule ^([a-zA-Z0-9-_]+)$ index.php?page=$1 [L,QSA]