/* Generel styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Playfair Display , sans-serif;
}

body {
    display: flex;
    background-color: #1e1e1e; /* Mørk baggrund */
    
    color: #f3b96e;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    background-color: #2b2b2b;
    color: #f0e6d2;
    padding: 20px;
    height: 100vh;
    position: fixed;
    
}

.sidebar h2 {
    color: #f3b96e;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.sidebar nav ul {
    list-style: none;
    padding-left: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #f0e6d2;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #f3b96e;
}

.logout-button {
    width: 100%;
    padding: 10px;
    background-color: #c65f29;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #a34721;
}

/* Main content styling */
.content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
}

.content header h1 {
    font-size: 32px;
    
    color: #f3b96e;
    margin-bottom: 20px;
}

/* Card Grid Layout */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Cards */
.card {
    background-color: #2b2b2b;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f0e6d2; /* Lys beige tekst */
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-size: 18px;
    color: #f0e6d2; /* Lys beige tekst */
    margin-bottom: 10px;
    font-family: Garamond , serif;
}

.card p {
    font-size: 14px;
   
    color: #a9a8a5;
}

/* Specifik størrelse på store kort */
.large-card {
    grid-column: span 2;
}
.upload-section, .uploaded-images {
    margin-top: 20px;
    padding: 20px;
    background-color: #2b2b2b; /* Tilføj baggrundsfarve */
    border-radius: 5px;
}

.upload-section h2, .uploaded-images h2 {
    color: #f3b96e;
}

.upload-section input[type="file"],
.upload-section button {
    margin-top: 10px;
    padding: 8px;
    background-color: #f0e6d2;
    color: #2b2b2b;
    border: none;
    cursor: pointer;
}

.uploaded-images img {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
